$very-dark-cyan: hsl(183, 100%, 15%); // #00474B
$dark-grayish-cyan: hsl(186, 14%, 43%); // #5E7A7D
$grayish-cyan: hsl(184, 14%, 56%); // #7F9D9F
$light-grayish-cyan: hsl(185, 41%, 84%); // #C5E4E7
$very-light-grayish-cyan: hsl(189, 41%, 97%); // #F3F9FA
$white: hsl(0, 0%, 100%); // #FFFFFF

$soft-cyan: hsl(186, 38%, 78%); // #C5E4E7
$muted-teal: hsl(187, 18%, 40%); // #547878
$deep-teal: hsl(186, 27%, 32%); // #3D6666
$light-muted-cyan: hsl(187, 26%, 67%); // #9EBBBD
$medium-muted-cyan: hsl(187, 20%, 55%); // #7F9D9F
$off-white-cyan: hsl(187, 47%, 96%); // #F3F9FA
$slate-teal: hsl(191, 16%, 45%); // #5E7A7D
$strong-cyan: hsl(172, 72%, 46%); // #26C2AE
$darkest-cyan: hsl(182, 100%, 14%); // #00474B
